DB_HOST=localhost
DB_PORT=5432
DB_USER=MessReduction
DB_PASSWORD=change-me
DB_NAME=ziphost
STUDENT_VERIFY_API_URL=https://hostel-api.gces.net.in/api/auth/verify-details
STUDENT_VERIFY_API_KEY=change-me
SECRET_KEY=change-me